
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APPResataurant</title>
    <link href="~/Assets/css/flickity.min.css" rel="stylesheet" />
    <link href="~/Assets/css/styles.css" rel="stylesheet" />
    <script src="~/Assets/js/flickity.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
