
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>APPResataurant</title>
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Assets/js/jquery.js"></script>
    <script src="~/Assets/js/bootstrap.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
