<p class="text-center">ResCarousel<small> By<a href="http://creativetechsoft.com"> CreativeTechSoft</a></small></p>


<!--home-->
<div class="container p0">

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Attributes</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>data-items</td>
                    <td>xs-sm-md-lg</td>
                    <td>1-1-1-1</td>
                    <td>The <strong>data-items</strong> must be declare. Based on this <strong>data-slide</strong> and other Attributes works</td>
                </tr>
                <tr>
                    <td>data-slide</td>
                    <td>number</td>
                    <td>1</td>
                    <td>The <strong>data-slide</strong> is not declare then it will get the current viewport items from data-items and make it as default.</td>
                </tr>
                <tr>
                    <td>data-speed</td>
                    <td>milli seconds</td>
                    <td>400</td>
                    <td>The <strong>data-speed</strong> is used to control the speed of the sliding items.</td>
                </tr>
                <tr>
                    <td>data-interval</td>
                    <td>milli seconds</td>
                    <td>false</td>
                    <td>The <strong>data-interval</strong> is used for auto sliding of items based on mentioned mentioned data-interval value.</td>
                </tr>
                <tr>
                    <td>data-animator</td>
                    <td>string</td>
                    <td>none</td>
                    <td>
                        The <strong>data-animator</strong> is used for animating the sliding items. list of animmation name below:
                        <ul>
                            <li>lazy</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>data-load</td>
                    <td>number</td>
                    <td>false</td>
                    <td>
                        The <strong>data-load</strong> is used to intimate that the slider is going to touch the end( data-load value ) so that the developer can load( append ) another set of items. To use this feature you need to mention three things.
                        <ul>
                            <li>mention the data-load with value</li>
                            <li>mention any id in resCarousel-inner</li>
                            <li>the little js script to get trigger <code>$(your id).on('ResCarouselLoad', function() { ...load items... }</code></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<div class="container-fluid p0">
    <h4>data-items="1-1-1-1" data-slide="1" data-speed="700" data-interval="4000"</h4>
    <div class="resCarousel" data-items="1-1-1-1" data-slide="1" data-speed="700" data-interval="4000">
        <div class="resCarousel-inner banner">

            <div class="item">
                <div>
                    <h1>1</h1>
                </div>
            </div>

            <div class="item">
                <div>
                    <h1>2</h1>
                </div>
            </div>

            <div class="item">
                <div>
                    <h1>3</h1>
                </div>
            </div>

            <div class="item">
                <div>
                    <h1>4</h1>
                </div>
            </div>

            <div class="item">
                <div>
                    <h1>5</h1>
                </div>
            </div>

        </div>
        <ul class="resPoint">
            <li></li>
        </ul>
        <button class='btn btn-default leftRs'><</button>
        <button class='btn btn-default rightRs'>></button>
    </div>
</div>

<!--home-->
<div class="container">
    <h4>data-items="2-2-2-2" data-slide="2" data-interval="2000" data-speed="600" data-animator="lazy"</h4>
    <div class="resCarousel" data-items="2-2-2-2" data-slide="2" data-interval="2000" data-speed="600" data-animator="lazy">
        <div class="resCarousel-inner">

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>1</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>2</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>3</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>4</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>5</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>6</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>7</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>8</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>9</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>10</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>11</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>12</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>13</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>14</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

        </div>
        <button class='btn btn-default leftRs'><</button>
        <button class='btn btn-default rightRs'>></button>
    </div>
</div>

<!--home-->
<div class="container p8">
    <h4> data-items="2-3-3-3" data-slide="3" data-speed="900" data-animator="lazy"</h4>
    <div class="resCarousel" data-items="2-3-3-3" data-slide="3" data-speed="900" data-animator="lazy">
        <div class="resCarousel-inner">

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>1</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>2</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>3</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>4</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>5</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>6</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>7</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>8</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>9</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>10</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>11</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>12</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>13</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>14</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

        </div>
        <button class='btn btn-default leftRs'><</button>
        <button class='btn btn-default rightRs'>></button>
    </div>
</div>

<!--home-->
<div class="container p8">
    <h4>data-items="2-4-4-4" data-interval="2000" data-slide="1" data-animator="lazy"</h4>
    <div class="resCarousel" data-items="2-4-4-4" data-interval="2000" data-slide="1" data-animator="lazy">
        <div class="resCarousel-inner">

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>1</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>2</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>3</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>4</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>5</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>6</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>7</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>8</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>9</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>10</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>11</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>12</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>13</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>14</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

        </div>
        <button class='btn btn-default leftRs'><</button>
        <button class='btn btn-default rightRs'>></button>
    </div>
</div>

<!--home-->
<div class="container p8">
    <h4>data-items="2-3-4-5" data-slide="5" data-speed="900" data-interval="4000" data-load="3" data-animator="lazy"</h4>
    <div class="resCarousel" data-items="2-3-4-5" data-slide="5" data-speed="900" data-interval="4000" data-load="3" data-animator="lazy">
        <div class="resCarousel-inner" id="eventLoad">

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>1</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>2</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>3</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>4</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>5</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>6</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>7</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>8</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>9</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>10</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>11</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>12</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>13</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

            <div class="item">
                <div class="tile">
                    <div>
                        <h1>14</h1>
                    </div>
                    <h3>Title</h3>
                    <p>content</p>
                </div>
            </div>

        </div>
        <button class='btn btn-default leftRs'><</button>
        <button class='btn btn-default rightRs'>></button>
    </div>
</div>