<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="APPRestaurante"
         providerName="system.Data.SqlClient"
         connectionString="data source=HUGOROCA;initial catalog=APPRestaurante;integrated security=True"/>
  </connectionStrings>
</configuration>