.carousel {
}

.carousel-cell {
    width: 670px;
    margin-right: 5rem;
    background: #8C8;
    /* border-radius: 5px; */
    counter-increment: carousel-cell;
}

.card {
    width: 650px;
}

.card-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 350px 1fr;
    grid-template-columns: 350px 1fr;
    -ms-grid-column-gap: 1em;
    grid-column-gap: 1em;
    -ms-grid-column-row: 0;
    grid-column-row: 0;
}

h2 {
    margin-top: 0.4em;
}

.card-graphic {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    line-height: 0;
}

.card-body {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    -webkit-align-self: bottom;
    -ms-flex-item-align: bottom;
    -ms-grid-row-align: bottom;
    align-self: bottom;
    margin-top: 1em;
    margin-bottom: 1em;
}

/*
.card-title {
  font-size: 2rem;
  margin-bottom: 0;
  grid-row: 1 / 2;
  grid-column: 2 / 2;
}

.card-icon {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  justify-self: right;
  width: 30px;
  height: 30px;
  background-color: LightBlue;
  border-radius: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-items: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-stats {
  -webkit-align-self: bottom;
      -ms-flex-item-align: bottom;
              -ms-grid-row-align: bottom;
          align-self: bottom;
  justify-self: right;
}
*/
