
@{
    ViewBag.Title = "Registro";
}

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">Registro de Menú</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Titulo: </label>
                            <div class="col-sm-9">
                                <input type="text" name="Titulo" class="form-control" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>