
@{
    ViewBag.Title = "Registro";
}

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-blue widget-header-flat">
                <h4 class="widget-title lighter">Registro de Menú</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main">

                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">Fecha:</label>
                            <div class="col-xs-12 col-sm-4">
                                <div class="input-group">
                                    <input class="form-control date-picker" type="text"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar bigger-110"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">Titulo:</label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                    <input type="text" name="Titulo" id="Titulo" class="col-xs-12 col-sm-6" />
                                </div>
                            </div>
                        </div>
                        <div class="space-2"></div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="email">Descripción:</label>
                            <div class="col-xs-12 col-sm-9">
                                <div class="clearfix">
                                    <textarea name="Descripcion" id="Descripcion" class="form-control" row="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.date-picker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: "dd/mm/yy"
    })
</script>